[submodule "lib_amazon/amazon-freertos-202012.00"]
	path = lib_amazon/amazon-freertos-202012.00
	url = https://github.com/ambiot/amazon-freertos.git
	branch = amebaPro-5.2h-202012.00-LTS
[submodule "lib_amazon/amazon-kinesis-video-streams-producer-embedded-c"]
	path = lib_amazon/amazon-kinesis-video-streams-producer-embedded-c
	url = https://github.com/ambiot/amazon-kinesis-video-streams-producer-embedded-c.git
[submodule "lib_amazon/amazon-kinesis-video-streams-pic"]
	path = lib_amazon/amazon-kinesis-video-streams-pic
	url = https://github.com/ambiot-mini/amazon-kinesis-video-streams-pic.git
	branch = webrtc-on-freertos
[submodule "lib_amazon/amazon-kinesis-video-streams-producer-c"]
	path = lib_amazon/amazon-kinesis-video-streams-producer-c
	url = https://github.com/ambiot-mini/amazon-kinesis-video-streams-producer-c.git
	branch = webrtc-on-freertos
[submodule "lib_amazon/amazon-kinesis-video-streams-webrtc-sdk-c"]
	path = lib_amazon/amazon-kinesis-video-streams-webrtc-sdk-c
	url = https://github.com/ambiot-mini/amazon-kinesis-video-streams-webrtc-sdk-c.git
	branch = webrtc-on-freertos
[submodule "lib_amazon/libwebsockets"]
	path = lib_amazon/libwebsockets
	url = https://github.com/ambiot-mini/libwebsockets.git
	branch = webrtc-on-freertos
[submodule "lib_amazon/libsrtp"]
	path = lib_amazon/libsrtp
	url = https://github.com/ambiot-mini/libsrtp.git
	branch = webrtc-on-freertos
